{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true,
        "loose": true
      }
    ],
    [
      "styled-jsx/babel",
      {
        "plugins": ["styled-jsx-plugin-stylelint"]
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
