{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-undef": 0,
    "no-nested-ternary": 0,
    "no-return-assign": 0,
    "semi": [2, "never"],
    "react/sort-comp": 0,
    "react/destructuring-assignment": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/button-has-type": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "react/no-unescaped-entities": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
